<%= form_for @debate do |f| %>
    <% if @debate.errors.any? %>
        <div class="col-lg-12">
          <p class="text-danger">Erros: <%= @debate.errors.full_messages.to_sentence %></p>
        </div>
    <% end %>
    <div class="col-lg-12">
      <div class="form-group">
        <%= f.label :title, class: 'required' %>
        <%= f.text_field :title, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :overview, class: 'required' %>
        <%= f.bootsy_area :overview, {class: 'form-control',placeholder: "Start a discussion with a overview of the subject.",:size => "10x20"}%>
      </div>
      <div class="form-group">
        <%= f.label :status, class: 'required' %>,<br/>
        <%= f.select :status,['Open','Closed'],{}, {class: 'form-control'} %>
      </div>
            <div class="form-group">
          <%= f.file_field :picture %>
        </div>  
        <div class="form-group">
            <%= f.submit 'Post', class: 'btn btn-primary' %>&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to "Back",{action: "index"},{class: "btn btn-default"}%>
      </div>
    </div>
    
<% end %>
